/* @  01 ARROW */
@mixin arrow($size, $direction, $color) {
  content: "";
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-width: $size;
  border-color: transparent;
  border-style: solid;
  display: inline-block;
  height: 0px;
  width: 0px;

  @if $direction == "right" {
    border-left-color: $color;
    border-left-width: $size + $size/3;
    border-right-width: 0px;
  } @else if $direction == "left" {
    border-right-color: $color;
    border-right-width: $size + $size/3;
    border-left-width: 0px;
  } @else if $direction == "up" {
    border-bottom-color: $color;
    border-bottom-width: $size + $size/3;
    border-top-width: 0px;
  } @else if $direction == "down" {
    border-top-color: $color;
    border-top-width: $size + $size/3;
    border-bottom-width: 0px;
  }
}

/* @ MEDIA  */
@mixin media($breakpoint,$minmax: "max") {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $minmax == "min" {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }

  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}