//----PARAMETERS

/* @ 00 SPRITE */
$spritesvg: none, url("../img/sprite.svg");

/* @ 01 GRID */
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 780px,
        lg: 1020px,
        xl: 1200px
);

/* @ 02 SIZES */
$width: 100%;

$margin: 30px;
$margin-large: 60px;
$margin-small: $margin/2;
$margin-xtrsmall: $margin/3;

$input-height: 40px;

/* @ 03 COLORS */
$primary-color: #0071b8;
$primary-color-light: lighten($primary-color,60);
$secondary-color: #E29700;
$secondary-color-light: lighten($secondary-color,50);

$error-color: #E32700;
$error-color-light: lighten($error-color,50);
$warning-color: $secondary-color;
$status-color: #73B355;

$border-color: #e6e4df;
$border-button: #a6a6a6;
$border-region: #bfbfbf;
$border-input: #b8b8b8;
$border-description: #E29700;

$color__type: #333;
$color__type__light: lighten($color__type, 50);
$color__type__dark: darken($color__type, 20);
$color__type__input: #595959;

$bg-yellow: lighten($secondary-color, 40);
$bg-blue: #f7fcff;
$bg-gray: #F7F7F7;

$bg-button: #F9F9F9;

$bg-toolbar: #2D2D2D;
$bg-toolbar-active: #444;

$shadow__dialog: 0 0 24px 0 rgba(0,0,0,0.22), 0 24px 24px 0 rgba(0,0,0,0.30);

/* @ 04 TYPOGRAPHY  */
$line-height: 1.5em;
$line-height-title: 1.3em;

$font-size-xl: 32px;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-rg: 12px;
$font-size-sm: 10px;

.typo__label{
  display: inline-block;
  font-weight: 300;
  font-size: $font-size-lg;
  margin-top: $margin-small;
  margin-bottom: $margin-small;
  color: $color__type !important;
  text-transform: none;
}

.typo__sublabel{
  display: inline-block !important;
  font-weight: 600 !important;
  font-size: $font-size-md !important;
  margin-top: $margin-small !important;
  margin-bottom: $margin-small !important;
  color: $color__type !important;
  text-transform: none !important;
}

.typo__input{
  font-size: $font-size-md;
  color: $color__type__input;
}

.typo_description{
  font-size: 14px;
  color: $color__type__light;
}

/* @ 05 BLOCKS  */
.remove-button{
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: $error-color;
  border: 1px solid $error-color;
  background-image: none;
  background-color: $bg-button;

  &:hover {
    opacity: 0.8;
    border: 1px solid $error-color;
    text-decoration: none;
    background-color: white;
  }
}
