/* @ 00 SPRITE */
/* @ 01 GRID */
/* @ 02 SIZES */
/* @ 03 COLORS */
/* @ 04 TYPOGRAPHY  */
.typo__label {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333 !important;
  text-transform: none; }

.typo__sublabel {
  display: inline-block !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  color: #333 !important;
  text-transform: none !important; }

.typo__input, body {
  font-size: 16px;
  color: #595959; }

.typo_description {
  font-size: 14px;
  color: #b3b3b3; }

/* @ 05 BLOCKS  */
.remove-button {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: #E32700;
  border: 1px solid #E32700;
  background-image: none;
  background-color: #F9F9F9; }
  .remove-button:hover {
    opacity: 0.8;
    border: 1px solid #E32700;
    text-decoration: none;
    background-color: white; }

/* @ 00 TYPOGRAPHY */
/* Adminimal Theme overrides file. All selectors must start with ".adminimal" */
/* Import the Open Sans webfont from Google CDN */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/uYKcPVoh6c5R0NpdEY5A-Q.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format("woff"); }
/*html {
  zoom: 1.1;
}*/
/* Fix drag and drop offset in ckeditor toolbar configuration */
/*.adminimal .ckeditor-toolbar-configuration.js-form-wrapper.form-wrapper {
  zoom: 0.9;
}*/
body {
  font-family: "Open Sans", sans-serif; }

.subtitle {
  display: block;
  font-weight: 600;
  margin-bottom: 0; }

.subtitle + p {
  margin-top: 0; }

ol.char_lowercase {
  list-style: lower-alpha; }

ol.char_uppercase {
  list-style: upper-alpha; }

ol.roman_lowercase {
  list-style: lower-roman; }

ol.roman_uppercase {
  list-style: upper-roman; }

table {
  max-width: 640px !important;
  width: 100% !important; }

table.width-fixed {
  table-layout: fixed }

table p.tar{
  text-align: right;
  margin: 0;
  padding: 0;
}

th.th-w50, td.td-w50{
  width: 50%;
}

th.th-w40, td.td-w40{
  width: 40%;
}
th.th-w30, td.td-w30{
  width: 30%;
}
th.th-w20, td.td-w20{
  width: 20%;
}
th.th-w10, td.td-w10{
  width: 10%;
}

/*# sourceMappingURL=ckeditor.css.map */
