/* @ 00 SPRITE */
/* @ 01 GRID */
/* @ 02 SIZES */
/* @ 03 COLORS */
/* @ 04 TYPOGRAPHY  */
.typo__label, .svds_admin .field--type-image details summary, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) > label, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) > legend .fieldset-legend, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table thead tr th h4, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > strong, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > thead tr th .label, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraph-type-title, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform label, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform details summary, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs [data-drupal-selector='edit-field-paragraphs'] > strong, .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset legend,
.svds_admin .layout-node-form .layout-region-node-main > fieldset legend, .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer:before, .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions:before, .svds_admin .user-form .form-item:not([class*="subform"]) > label, .svds_admin .user-form #edit-actions:before, .seo-container label {
  display: inline-block;
  font-weight: 300 !important;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333 !important;
  text-transform: none; }

.typo__sublabel, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.paragraphs-subform .form-item > label, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.paragraphs-subform .form-item > legend > .fieldset-legend, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.filter-help .form-item > label, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.filter-help .form-item > legend > .fieldset-legend, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) > input + label {
  display: inline-block;
  font-weight: 600 !important;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333 !important;
  text-transform: none; }

.typo__input, .svds_admin .field--type-image details input[type="submit"], .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input:not([type="submit"]), .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"], .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) textarea, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) select, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"], .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button, .svds_admin .user-form .form-item:not([class*="subform"]) input, .svds_admin .user-form .form-item:not([class*="subform"]) textarea, .svds_admin .user-form .form-item:not([class*="subform"]) select {
  font-size: 16px;
  color: #595959; }

.typo_description, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs [data-drupal-selector='edit-field-paragraphs'] [data-drupal-selector='edit-field-paragraphs-text'], .svds_admin .description.fieldset-description, .svds_admin .user-form .form-item:not([class*="subform"]) .description.fieldset-description {
  font-size: 14px;
  color: #b3b3b3; }

/* @ 05 BLOCKS  */
.remove-button, .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Remove'], .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Verwijderen'], .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button.button--danger, .svds_admin .user-form #edit-actions .button.button--danger, .media-library-add-form .media-library-add-form__remove-button {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: #E32700;
  border: 1px solid #E32700;
  background-image: none;
  background-color: #F9F9F9; }
  .remove-button:hover, .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Remove']:hover, .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Verwijderen']:hover, .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button.button--danger:hover, .svds_admin .user-form #edit-actions .button.button--danger:hover, .media-library-add-form .media-library-add-form__remove-button:hover {
    opacity: 0.8;
    border: 1px solid #E32700;
    text-decoration: none;
    background-color: white; }

.svds_admin {
  font-size: 12px;
  color: #333;
  /* @ 00 GLOBAL  */
  /* @    -- Links */
  /* @    -- Form item */
  /* @    -- Buttons  */
  /* @    -- Groups */
  /* @    -- Fields */
  /* @    ---- Image */
  /* @    ---- Table */
  /* @    -- CK Editor */
  /* @ 01 LAYOUT */
  /* @    -- Title bar */
  /* @    -- Node path */
  /* @ 02  FORM NODE EDIT */
  /* @    -- Description */
  /* @ 02  FORM USER EDIT */
  /* @ 03 BREADCRUMBS */
  /* @ 04 TABS */
  /* @ 05 TOOLBAR */ }
  .svds_admin .seven-details__summary {
    text-shadow: none !important; }
  .svds_admin a {
    color: #0071b8; }
    .svds_admin a.button--primary.button--small:not(.button-action) {
      color: white; }
  .svds_admin .form-item, .svds_admin .form-actions {
    margin-top: 1em;
    margin-bottom: 1em; }
  .svds_admin .button {
    border-width: 1px !important;
    border-radius: 0 !important;
    background-image: none; }
    .svds_admin .button:hover {
      border: 1px solid #a6a6a6;
      box-shadow: none;
      background-image: none; }
  .svds_admin .field-group-details {
    margin-top: 30px; }
  .svds_admin .field-group-fieldset {
    margin-top: 60px; }
    .svds_admin .field-group-fieldset > .description {
      display: block; }
  .svds_admin .field--type-image details {
    border: none;
    /* @    ---- Remove Button */
    /* @    ---- Drag */ }
    .svds_admin .field--type-image details summary {
      padding: 0; }
      .svds_admin .field--type-image details summary::-webkit-details-marker {
        display: none; }
    .svds_admin .field--type-image details .details-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 0; }
      .svds_admin .field--type-image details .details-wrapper > .seven-details__description {
        flex: 1 1 100%;
        order: 1;
        margin: 0;
        padding: 5px 10px;
        font-size: 12px;
        border: 1px solid #fff5e2;
        background-color: #fff5e2; }
      .svds_admin .field--type-image details .details-wrapper > div:last-child {
        flex: 1 1 100%;
        order: 0;
        margin: 0; }
        .svds_admin .field--type-image details .details-wrapper > div:last-child label {
          display: none !important; }
    .svds_admin .field--type-image details input[type="submit"] {
      padding: 10px; }
      .svds_admin .field--type-image details input[type="submit"][value="Remove"], .svds_admin .field--type-image details input[type="submit"][value="Verwijderen"] {
        color: #E32700;
        background-color: white;
        background-image: none;
        border-color: #E32700; }
        .svds_admin .field--type-image details input[type="submit"][value="Remove"]:hover, .svds_admin .field--type-image details input[type="submit"][value="Verwijderen"]:hover {
          border-color: #E32700;
          opacity: 0.8; }
    .svds_admin .field--type-image details .tabledrag-toggle-weight-wrapper {
      display: none; }
    .svds_admin .field--type-image details table thead {
      display: none; }
    .svds_admin .field--type-image details table .draggable {
      border: 1px solid #b8b8b8; }
      .svds_admin .field--type-image details table .draggable:hover {
        background: transparent; }
      .svds_admin .field--type-image details table .draggable .tabledrag-handle {
        height: auto;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        transition: opacity .3s ease-in-out; }
        .svds_admin .field--type-image details table .draggable .tabledrag-handle .handle {
          padding: 0;
          margin: 0;
          width: 30px;
          height: 50px;
          background-position: center;
          background-image: url("../img/move-dark.svg"); }
        .svds_admin .field--type-image details table .draggable .tabledrag-handle:hover {
          opacity: 1; }
      .svds_admin .field--type-image details table .draggable abbr {
        display: none; }
    .svds_admin .field--type-image details table .draggable td {
      padding: 15px; }
      .svds_admin .field--type-image details table .draggable td a {
        padding-right: 15px !important; }
      .svds_admin .field--type-image details table .draggable td:first-child {
        display: flex;
        align-items: center; }
      .svds_admin .field--type-image details table .draggable td:last-child {
        padding-top: 45px;
        vertical-align: top; }
  .svds_admin .field--type-image .image-widget {
    display: flex;
    flex-wrap: wrap; }
    .svds_admin .field--type-image .image-widget .image-preview {
      width: 480px;
      margin-right: 15px;
      padding: 0;
      background-color: #F7F7F7;
      /* @    ------ Focal Point */ }
      .svds_admin .field--type-image .image-widget .image-preview img {
        vertical-align: middle; }
      .svds_admin .field--type-image .image-widget .image-preview .focal-point-wrapper {
        width: 100%; }
        .svds_admin .field--type-image .image-widget .image-preview .focal-point-wrapper .focal-point-preview-link {
          display: none; }
        .svds_admin .field--type-image .image-widget .image-preview .focal-point-wrapper .focal-point-indicator {
          z-index: 1; }
        .svds_admin .field--type-image .image-widget .image-preview .focal-point-wrapper .focal-point-indicator:after {
          content: "";
          font-size: 2.5em;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          text-shadow: none;
          background-color: rgba(0, 113, 184, 0.8);
          background-image: url("../img/cross.svg");
          background-position: center center;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
    .svds_admin .field--type-image .image-widget .image-widget-data {
      width: 100%; }
      .svds_admin .field--type-image .image-widget .image-widget-data label {
        margin: 5px 0 5px 0 !important;
        font-size: 16px !important; }
      .svds_admin .field--type-image .image-widget .image-widget-data .file, .svds_admin .field--type-image .image-widget .image-widget-data .file-size {
        display: none; }
      .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Remove'], .svds_admin .field--type-image .image-widget .image-widget-data .button[value='Verwijderen'] {
        margin-top: 15px; }
  .svds_admin .form-tablefield .fieldset-wrapper table tbody {
    border: none !important; }
  .svds_admin .form-tablefield .fieldset-wrapper input[type="submit"] {
    margin-left: 0; }
  .svds_admin .form-tablefield details {
    margin-top: 10px !important;
    background-color: #f7fcff !important;
    padding: 10px !important; }
    .svds_admin .form-tablefield details summary {
      margin-bottom: 0 !important; }
  .svds_admin .cke_bottom {
    display: none; }
  .svds_admin header.content-header {
    padding-top: 27px;
    background-color: #0071b8; }
  .svds_admin.path-node .region-content {
    margin-top: 30px; }
    .svds_admin.path-node .region-content fieldset {
      border-radius: 0px;
      background-color: transparent; }
  .svds_admin .layout-node-form {
    /* @    -- Main Region */
    /* @    -- Secondary Region */
    /* @    -- Footer Region */ }
    .svds_admin .layout-node-form .layout-region-node-main {
      /* @    ---- Form item */
      /* @    ---- Text Filter */
      /* @    -- Media Field */
      /* @    -- Dropdown */
      /* @    -- Paragraphs */
      /* @    -- Fieldset */ }
      @media (min-width: 780px) {
        .svds_admin .layout-node-form .layout-region-node-main {
          width: 75%; } }
      @media (max-width: 1020px) {
        .svds_admin .layout-node-form .layout-region-node-main {
          width: 100%; } }
      .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.paragraphs-subform .form-item, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper.filter-help .form-item {
        /* @    ------ Sublabel */ }
      .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) {
        /* @    ------ Label */
        /* @    ------ Label - Entity reference */
        /* @    ------ Input */
        /* @    ------ Submit */
        /* @    ------ Toggle Weight */
        /* @    ------ Table Drag */
        /* @    ------ Multi Field */ }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) > label span {
          display: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input:not([type="submit"]) {
          width: 100%;
          padding: 10px; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input:not([type="submit"]):focus {
            outline: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"] {
          padding: 10px;
          color: white;
          background-color: #0071b8;
          border-color: #0071b8;
          background-image: none; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"][value="Remove"], .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"][value="Verwijderen"] {
            color: #E32700;
            background-color: white;
            background-image: none;
            border-color: #E32700; }
            .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"][value="Remove"]:hover, .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"][value="Verwijderen"]:hover {
              border-color: #E32700;
              opacity: 0.8; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) input[type="submit"]:hover {
            border-color: #a6a6a6;
            opacity: 0.8; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) textarea {
          width: 100%;
          padding: 10px; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) textarea:focus {
            outline: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) select {
          width: 100%;
          min-height: 40px;
          padding: 10px; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) select:focus {
            outline: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .tabledrag-toggle-weight-wrapper {
          display: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) table .draggable .tabledrag-handle {
          height: auto;
          padding: 0;
          margin: 0;
          opacity: 0.5;
          transition: opacity .3s ease-in-out; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) table .draggable .tabledrag-handle .handle {
            padding: 0;
            margin: 0;
            width: 30px;
            height: 50px;
            background-position: center;
            background-image: url("../img/move-dark.svg"); }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) table .draggable .tabledrag-handle:hover {
            opacity: 1; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) table .draggable abbr {
          display: none; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table thead tr {
          padding: 0;
          border-bottom: none; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table thead tr th {
            padding: 0;
            background-color: white; }
        .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table tbody {
          border: 1px solid #b8b8b8; }
          .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table tbody tr.draggable {
            padding: 0; }
            .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table tbody tr.draggable:not(:last-child) {
              border-bottom: 1px solid #b8b8b8; }
            .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table tbody tr.draggable:last-child {
              border-bottom: 0px solid transparent; }
            .svds_admin .layout-node-form .layout-region-node-main .form-wrapper .form-item:not([class*="subform"]) .field-multiple-table tbody tr.draggable:hover {
              background-color: transparent; }
      .svds_admin .layout-node-form .layout-region-node-main .filter-wrapper {
        margin-top: -30px; }
        .svds_admin .layout-node-form .layout-region-node-main .filter-wrapper .form-item {
          margin: 0;
          padding: 15px 0; }
          .svds_admin .layout-node-form .layout-region-node-main .filter-wrapper .form-item label {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 0;
            margin-top: 0; }
        .svds_admin .layout-node-form .layout-region-node-main .filter-wrapper .filter-help {
          display: none; }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget .media-library-widget-empty-text {
        margin-top: 0;
        font-size: 16px;
        font-style: italic; }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget .media-library-item__remove {
        color: transparent !important;
        padding: 0 !important;
        background-image: url("../img/crossred.svg") !important;
        background-size: auto; }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget .media-library-item__attributes {
        bottom: 12px;
        max-width: calc(100% - 26px); }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget > fieldset {
        padding: 0;
        border: none; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget > fieldset > legend {
          position: relative;
          margin-bottom: 12px; }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-media-library-widget .fieldset-wrapper {
        padding: 30px 18px 18px;
        border: 1px solid #b8b8b8; }
      .svds_admin .layout-node-form .layout-region-node-main .dropbutton-wrapper .dropbutton-widget .dropbutton input {
        width: 100% !important; }
      .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs {
        font-size: 16px;
        /* @    ---- Paragraph Buttons */ }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-wrapper > .form-wrapper {
          padding: 30px 15px 15px 15px;
          border-top: 1px solid #b8b8b8;
          border-left: 1px solid #b8b8b8;
          border-right: 1px solid #b8b8b8; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table.field-multiple-table {
          margin-bottom: 0; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > thead tr {
          padding: 0; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > thead tr th {
            padding: 0;
            background-color: white; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody {
          border-bottom: 0px solid transparent !important; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody > tr {
            display: flex; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody > tr.draggable {
              transition: opacity .3s, box-shadow .3s; }
              .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody > tr.draggable.drag {
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.22), 0 24px 24px 0 rgba(0, 0, 0, 0.3);
                opacity: .5; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody > tr > td:nth-child(2) {
              flex: 1 1 auto;
              margin-left: -54px;
              border-right: 1px solid #b8b8b8;
              padding-top: 0px;
              padding-bottom: 0px; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .field-multiple-drag {
            padding: 10px 12px;
            vertical-align: middle; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .field-multiple-drag .handle {
              padding: 10px;
              background-position: 8px 12px; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraph-type-top {
            padding-left: 70px;
            align-items: center;
            background-color: #F7F7F7; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraph-type-top .paragraph-type-title {
              color: #333 !important; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraph-type-top .paragraphs-dropbutton-wrapper {
              padding: 15px; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraph-type-title {
            margin-left: -16px;
            text-overflow: unset;
            overflow: visible; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-collapsed-description {
            display: none; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform {
            padding: 15px 15px 15px 30px;
            margin: 0;
            /* background-color: #f7f7f7; */
            border-left: 10px solid #bfbfbf;
            /* @    ------ Link field */ }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform > .form-wrapper:not(:last-child) {
              border-bottom: 4px solid white; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform label {
              text-transform: unset; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform details {
              margin: 0;
              border: none; }
              .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform details summary {
                margin-top: 0;
                padding: 0;
                text-transform: unset; }
                .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform details summary::-webkit-details-marker {
                  display: none; }
              .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform details .details-wrapper {
                padding: 10px;
                border: 1px solid #b8b8b8; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform .field--type-link .fieldset-legend {
              display: none; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform .field--type-image table thead {
              display: none; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody .paragraphs-subform .field--type-link > fieldset {
              border: none;
              padding: 0; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > .form-item > table > tbody abbr {
            display: none; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs [data-drupal-selector='edit-field-paragraphs'] [data-drupal-selector='edit-field-paragraphs-text'] {
          font-style: normal; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .tabledrag-toggle-weight-wrapper {
          margin: 40px 0 -30px 0; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > .paragraphs-dropbutton-wrapper,
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > div > .paragraphs-dropbutton-wrapper,
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > div > div > .paragraphs-dropbutton-wrapper {
          padding: 15px 15px 15px 10px;
          border: 1px solid #b8b8b8;
          background-color: #F7F7F7; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > .paragraphs-dropbutton-wrapper input[type="submit"].button,
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > div > .paragraphs-dropbutton-wrapper input[type="submit"].button,
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs > div > div > div > div > .paragraphs-dropbutton-wrapper input[type="submit"].button {
            margin-left: 10px; }
        .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"], .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button {
          width: auto;
          padding: 10px;
          color: white;
          background-color: #0071b8;
          background-image: none;
          border-color: #0071b8; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"]:hover, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button:hover {
            border-color: #a6a6a6;
            opacity: 0.8; }
          .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"][value="Remove"], .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"][value="Verwijderen"], .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button[value="Remove"], .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button[value="Verwijderen"] {
            color: #E32700;
            background-color: white;
            background-image: none;
            border-color: #E32700; }
            .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"][value="Remove"]:hover, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"][value="Verwijderen"]:hover, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button[value="Remove"]:hover, .svds_admin .layout-node-form .layout-region-node-main .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper input[type="submit"].button[value="Verwijderen"]:hover {
              border-color: #E32700;
              opacity: 0.8; }
      .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset,
      .svds_admin .layout-node-form .layout-region-node-main > fieldset {
        padding: 0;
        border: none; }
        .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset legend,
        .svds_admin .layout-node-form .layout-region-node-main > fieldset legend {
          position: relative;
          text-transform: none;
          letter-spacing: normal; }
        .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset .fieldset-wrapper,
        .svds_admin .layout-node-form .layout-region-node-main > fieldset .fieldset-wrapper {
          margin-top: 10px;
          padding: 10px 30px;
          border: 1px solid #b8b8b8; }
          .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset .fieldset-wrapper > div > fieldset,
          .svds_admin .layout-node-form .layout-region-node-main > fieldset .fieldset-wrapper > div > fieldset {
            padding: 0;
            border: none; }
            .svds_admin .layout-node-form .layout-region-node-main > .field--type-path > fieldset .fieldset-wrapper > div > fieldset .fieldset-wrapper,
            .svds_admin .layout-node-form .layout-region-node-main > fieldset .fieldset-wrapper > div > fieldset .fieldset-wrapper {
              margin-top: 10px;
              padding: 10px 30px;
              border: 1px solid #b8b8b8; }
    @media (min-width: 780px) {
      .svds_admin .layout-node-form .layout-region-node-secondary {
        width: 25%; } }
    @media (max-width: 1020px) {
      .svds_admin .layout-node-form .layout-region-node-secondary {
        width: 100%; } }
    .svds_admin .layout-node-form .layout-region-node-footer {
      margin-top: 1em; }
      @media (min-width: 780px) {
        .svds_admin .layout-node-form .layout-region-node-footer {
          width: 25%; } }
      @media (max-width: 1020px) {
        .svds_admin .layout-node-form .layout-region-node-footer {
          width: 100%; } }
      .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content {
        border: none;
        margin-top: 0;
        padding-top: 0;
        /* @    ---- Publish Button  */
        /* @    ---- Edit Actions */ }
        .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer {
          padding: 1em 1.5em;
          border: 1px solid #bfbfbf;
          background-color: #F7F7F7; }
          .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer:before {
            content: "Status"; }
          .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item {
            position: relative;
            width: 100%;
            height: 46px;
            border: 1px solid #b8b8b8;
            background: #fcfcfa; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item:after {
              content: 'NOT PUBLISHED';
              position: absolute;
              top: 3px;
              right: 3px;
              height: 40px;
              width: 50%;
              font-weight: normal;
              color: white;
              background-color: #E32700;
              text-align: center;
              line-height: 40px;
              z-index: 0; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item:before {
              content: 'PUBLISHED';
              position: absolute;
              top: 3px;
              left: 3px;
              height: 40px;
              width: 50%;
              font-weight: normal;
              color: white;
              background-color: #73B355;
              text-align: center;
              line-height: 40px;
              z-index: 0; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item label {
              display: block;
              position: absolute;
              top: 3px;
              left: 3px;
              width: 50%;
              height: 40px;
              padding: 0;
              color: transparent;
              transition: all .4s ease;
              cursor: pointer;
              z-index: 1;
              background: #DDD; }
              .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item label:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 13.3333333333px;
                height: 13.3333333333px;
                border-radius: 50%;
                border: 4px solid rgba(255, 255, 255, 0.7);
                transform: translate(-50%, -50%); }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item input[type=checkbox]:checked + label {
              left: 50%;
              transform: translateX(-3px); }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-footer .field--name-status .form-item input {
              display: none; }
        .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 1em 1.5em;
          margin-top: 30px;
          border: 1px solid #bfbfbf;
          background-color: #F7F7F7; }
          .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions:before {
            content: "Node Actions";
            margin-bottom: 30px;
            width: 100%; }
          .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button {
            flex: 1 1 auto;
            height: 40px;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 40px; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button:hover {
              opacity: 0.8; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button:first-child {
              margin: 0 10px 0 0; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button:last-child {
              margin: 0 0 0 10px; }
            .svds_admin .layout-node-form .layout-region-node-footer .layout-region-node-footer__content #edit-actions .button#edit-preview {
              margin: 0 0; }
  .svds_admin select + .description {
    display: block !important; }
  .svds_admin .description {
    display: none;
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #fff5e2;
    background-color: #fff5e2; }
    .svds_admin .description.fieldset-description {
      padding: 10px 0 15px 0;
      margin-bottom: 15px;
      border: none;
      border-bottom: 1px solid #bfbfbf;
      background-color: transparent; }
  .svds_admin .user-form {
    /* @    ---- Text Filter */
    /* @    ---- Edit Actions */ }
    .svds_admin .user-form .form-item:not([class*="subform"]) {
      /* @    ------ Label */
      /* @    ------ Description */
      /* @    ------ Input */ }
      .svds_admin .user-form .form-item:not([class*="subform"]) > label span {
        display: none; }
      .svds_admin .user-form .form-item:not([class*="subform"]) .description {
        margin: 0;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #fff5e2;
        background-color: #fff5e2; }
        .svds_admin .user-form .form-item:not([class*="subform"]) .description.fieldset-description {
          padding: 10px 0 15px 0;
          margin-bottom: 15px;
          border: none;
          border-bottom: 1px solid #bfbfbf;
          background-color: transparent; }
      .svds_admin .user-form .form-item:not([class*="subform"]) input {
        width: 100%;
        padding: 10px; }
        .svds_admin .user-form .form-item:not([class*="subform"]) input:focus {
          outline: none; }
      .svds_admin .user-form .form-item:not([class*="subform"]) textarea {
        width: 100%;
        padding: 10px; }
        .svds_admin .user-form .form-item:not([class*="subform"]) textarea:focus {
          outline: none; }
      .svds_admin .user-form .form-item:not([class*="subform"]) select {
        width: 100%;
        min-height: 40px;
        padding: 10px; }
        .svds_admin .user-form .form-item:not([class*="subform"]) select:focus {
          outline: none; }
    .svds_admin .user-form .filter-wrapper {
      margin-top: -30px; }
      .svds_admin .user-form .filter-wrapper .form-item {
        margin: 0;
        padding: 15px 0; }
        .svds_admin .user-form .filter-wrapper .form-item label {
          font-size: 12px;
          font-weight: normal;
          margin-bottom: 0;
          margin-top: 0; }
      .svds_admin .user-form .filter-wrapper .filter-help {
        display: none; }
    .svds_admin .user-form #edit-actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1em 1.5em;
      margin-top: 30px;
      border: 1px solid #bfbfbf;
      background-color: #F7F7F7; }
      .svds_admin .user-form #edit-actions:before {
        content: "User Actions";
        margin-bottom: 30px;
        width: 100%; }
      .svds_admin .user-form #edit-actions .button {
        flex: 1 1 auto;
        height: 40px;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 40px; }
        .svds_admin .user-form #edit-actions .button:hover {
          opacity: 0.8; }
        .svds_admin .user-form #edit-actions .button:first-child {
          margin: 0 15px 0 0; }
        .svds_admin .user-form #edit-actions .button:last-child {
          margin: 0 0 0 15px; }
        .svds_admin .user-form #edit-actions .button#edit-preview {
          margin: 0 15px; }
  .svds_admin .block-system-breadcrumb-block .breadcrumb a {
    color: #b3b3b3; }
  .svds_admin .block-local-tasks-block a {
    color: #b3b3b3; }
  .svds_admin.adminimal-admin-toolbar .toolbar .toolbar-toggle-orientation {
    background-color: #444; }
  .svds_admin.adminimal-admin-toolbar .toolbar .toolbar-icon:before {
    transition: none !important; }
  .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar {
    /* @    -- User tab */ }
    .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray {
      border-bottom: none;
      background: #444; }
      .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray .toolbar-menu {
        background: #444; }
        .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray .toolbar-menu li {
          background: #444; }
          .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray .toolbar-menu li.menu-item--expanded:hover:after {
            transform: translate(3px, -8px); }
      .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul {
        margin: -39px 0 0 200px; }
      .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tray.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
        margin: -39px 0 0 200px; }
    .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .toolbar-tab .toolbar-item.is-active {
      background-color: #444; }
    .svds_admin.adminimal-admin-toolbar .toolbar nav.toolbar-bar .user-toolbar-tab {
      float: left !important; }

/* @ 06 VIEWS CONTENT OVERVIEW */
.view-id-content {
  position: relative;
  /* @    -- Filter & Action Tabs */
  /* @    -- Views filters */ }
  .view-id-content #views-form-content-page-1 {
    /* @    -- Bulk operations */ }
    .view-id-content #views-form-content-page-1 .draggable .views-field-node-bulk-form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 41px; }
    .view-id-content #views-form-content-page-1 #edit-header {
      position: absolute;
      top: 41px;
      width: 100%;
      margin-bottom: 30px;
      padding: 1em 1.5em;
      opacity: 0;
      box-sizing: border-box;
      border: 1px solid #bfbfbf;
      background-color: #F7F7F7; }
      .view-id-content #views-form-content-page-1 #edit-header.active {
        opacity: 1; }
  .view-id-content .svds__tab {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #b3b3b3;
    border-left: 1px solid #a6a6a6;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    background-color: #F9F9F9;
    z-index: 2;
    cursor: default; }
    .view-id-content .svds__tab.actions {
      border-right: 1px solid #a6a6a6; }
    .view-id-content .svds__tab.active {
      color: #333;
      border-bottom: 1px solid #F9F9F9;
      cursor: default; }
    .view-id-content .svds__tab.inactive:hover {
      color: #333; }
  .view-id-content .view-filters {
    position: relative;
    margin-bottom: 30px;
    padding: 1em 1.5em;
    border: 1px solid #bfbfbf;
    background-color: #F7F7F7;
    z-index: 1; }
    .view-id-content .view-filters.inactive {
      opacity: 0;
      z-index: -1; }

/* @ 07 REAL TIME SEO  */
#edit-field-meta-tags-0 {
  display: none; }

.seo-container .seo-content {
  width: 636px;
  padding: 18px;
  font-family: arial;
  border: solid 1px rgba(0, 0, 0, 0.13);
  background: white; }
  .seo-container .seo-content .title {
    width: 600px;
    font-size: 18px;
    color: #1a0dab;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .seo-container .seo-content .url {
    padding: 1px 0 0 0;
    font-size: 14px;
    color: #006621; }
    .seo-container .seo-content .url span {
      display: inline-block; }
    .seo-container .seo-content .url .arrow {
      position: relative;
      top: -2px;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #006621 transparent; }
    .seo-container .seo-content .url .translate {
      margin-left: 5px;
      color: #1a0dab; }
  .seo-container .seo-content .desc {
    font-size: 13px;
    line-height: 1.4em; }
@media (max-width: 1020px) {
  .seo-container {
    display: none; } }

/* @ 08 DELETE PAGE */
.path-delete details[data-drupal-selector="edit-entity-deletes"] ul[data-drupal-selector="edit-view"] {
  display: inline-block;
  padding: 0px;
  color: white;
  list-style: none;
  background-color: #E29700; }
  .path-delete details[data-drupal-selector="edit-entity-deletes"] ul[data-drupal-selector="edit-view"] li {
    height: 25px;
    padding: 5px 10px;
    margin: 0;
    line-height: 12px;
    list-style: none; }
    .path-delete details[data-drupal-selector="edit-entity-deletes"] ul[data-drupal-selector="edit-view"] li:before {
      content: "\26A0";
      display: inline-block;
      position: relative;
      top: 7px;
      margin-right: 10px;
      font-size: 30px; }

/* @ 09 IMAGE CROP */
.image-widget .image-data__crop-wrapper {
  border-radius: 0px;
  background-color: #F7F7F7; }
  .image-widget .image-data__crop-wrapper summary {
    padding-left: 13px !important; }

.media-library-add-form .media-library-add-form__remove-button {
  padding: 4px 1.5em; }

/* @ 99 MEDIA QUERIES */
@media screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
  .layout-region-node-footer {
    float: right;
    width: 35%;
    padding-right: 0; } }
/* @ 100 ROLE SPECIFIC CHANGES */
.svds_admin.role-svds_admin, .svds_admin.role-svds_editor {
  /* @    -- Toolbar */
  /* @    -- Show Weight */
  /* @    -- Published Info  */ }
  .svds_admin.role-svds_admin.adminimal-admin-toolbar nav.toolbar-bar, .svds_admin.role-svds_editor.adminimal-admin-toolbar nav.toolbar-bar {
    /* @    ---- Content tab */ }
    .svds_admin.role-svds_admin.adminimal-admin-toolbar nav.toolbar-bar .toolbar-tab .toolbar-icon-admin-toolbar-tools-help, .svds_admin.role-svds_editor.adminimal-admin-toolbar nav.toolbar-bar .toolbar-tab .toolbar-icon-admin-toolbar-tools-help {
      display: none; }
  .svds_admin.role-svds_admin .tabledrag-toggle-weight-wrapper, .svds_admin.role-svds_editor .tabledrag-toggle-weight-wrapper {
    display: none; }

/*# sourceMappingURL=style.css.map */
