@import 'variables';
@import 'mixins';

.svds_admin {
  font-size: $font-size-rg;
  color: $color__type;

  .seven-details__summary {
    text-shadow: none !important;
  }

  /* @ 00 GLOBAL  */
  /* @    -- Links */
  a {
    color: $primary-color;

    &.button--primary, &.button--primary.button--small:not(.button-action) {
      color: white;
    }
  }

  /* @    -- Form item */
  .form-item, .form-actions {
    margin-top: 1em !important;
    margin-bottom: 0em !important;
  }

  /* @    -- Buttons  */
  .button {
    border-width: 1px !important;
    border-radius: 0 !important;
    background-image: none;
    text-shadow: none !important;

    &:hover {
      border: 1px solid $border-button;
      box-shadow: none;
      background-image: none;
    }
  }

  /* @    -- Groups */
  .field-group-details {
    margin-top: $margin;
  }

  .field-group-fieldset {
    margin-top: $margin-large;

    > .description {
      display: block;
    }
  }

  /* @    -- Fields */
  /* @    ---- Image */
  .field--type-image {

    details {
      border: none;

      summary {
        @extend .typo__label;
        padding: 0;

        &::-webkit-details-marker {
          display: none;
        }
      }

      .details-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        > .seven-details__description {
          flex: 1 1 100%;
          order: 1;
          margin: 0;
          padding: $margin-xtrsmall/2 $margin-xtrsmall;
          font-size: $font-size-rg;
          border: 1px solid $secondary-color-light;
          background-color: $secondary-color-light;
        }

        > div:last-child {
          flex: 1 1 100%;
          order: 0;
          margin: 0;

          label {
            display: none !important;
          }
        }
      }

      /* @    ---- Remove Button */
      input[type="submit"] {
        @extend .typo__input;
        padding: $margin-xtrsmall;

        &[value="Remove"], &[value="Verwijderen"] {
          color: $error-color;
          background-color: white;
          background-image: none;
          border-color: $error-color;

          &:hover {
            border-color: $error-color;
            opacity: 0.8;
          }
        }
      }

      /* @    ---- Drag */
      .tabledrag-toggle-weight-wrapper {
        display: none;
      }

      table {
        thead {
          display: none;
        }

        .draggable {
          border: 1px solid $border-input;

          &:hover {
            background: transparent;
          }

          .tabledrag-handle {
            height: auto;
            padding: 0;
            margin: 0;
            opacity: 0.5;
            transition: opacity .3s ease-in-out;

            .handle {
              padding: 0;
              margin: 0;
              width: 30px;
              height: 50px;
              background-position: center;
              background-image: url("../img/move-dark.svg");
            }

            &:hover {
              opacity: 0.99;
            }
          }

          abbr {
            display: none;
          }
        }
      }

      table {
        .draggable {
          td {
            padding: $margin-small;

            a {
              padding-right: $margin-small !important;
            }

            &:first-child {
              display: flex;
              align-items: center;
            }

            &:last-child {
              padding-top: 45px;
              vertical-align: top;
            }
          }
        }
      }
    }

    .image-widget {
      display: flex;
      flex-wrap: wrap;
      //padding-left: $margin-small;

      .image-preview {
        width: 480px;
        margin-right: $margin-small;
        padding: 0;
        background-color: $bg-gray;

        img {
          vertical-align: middle;
        }

        /* @    ------ Focal Point */
        .focal-point-wrapper {
          width: 100%;

          //&:after {
          //  content: "Drag the cross to the most important part of the image. From this point the image will be cropped.";
          //  display: block;
          //  width: 100%;
          //  margin: 0;
          //  padding: $margin-xtrsmall;
          //  font-size: $font-size-rg;
          //  box-sizing: border-box;
          //  border: 1px solid $secondary-color-light;
          //  background-color: $secondary-color-light;
          //}

          .focal-point-preview-link {
            display: none;
          }

          .focal-point-indicator {
            z-index: 1;
          }

          .focal-point-indicator:after {
            content: "";
            font-size: 2.5em;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-shadow: none;
            background-color: rgba($primary-color, .8);
            background-image: url('../img/cross.svg');
            background-position: center center;
            box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
          }
        }
      }

      .image-widget-data {
        width: 100%;

        label {
          margin: $margin-xtrsmall/2 0 $margin-xtrsmall/2 0 !important;
          font-size: $font-size-md !important;
        }

        .file, .file-size {
          display: none;
        }

        .button[value='Remove'], .button[value='Verwijderen'] {
          @extend .remove-button;
          margin-top: $margin-small;
        }
      }
    }
  }

  /* @    ---- Table */
  .form-tablefield {
    .fieldset-wrapper {
      table {
        tbody {
          border: none !important;
        }
      }

      input[type="submit"] {
        margin-left: 0;
      }
    }

    details {
      margin-top: $margin-xtrsmall !important;
      background-color: $bg-blue !important;
      padding: $margin-xtrsmall !important;

      summary {
        margin-bottom: 0 !important;
      }
    }
  }

  /* @    -- CK Editor */
  .cke_bottom {
    display: none;
  }

  /* @ 01 LAYOUT */
  /* @    -- Title bar */
  header {
    &.content-header {
      padding-top: 27px;
      background-color: $primary-color;
    }
  }

  /* @    -- Node path */
  &.path-node {
    .region-content {
      margin-top: $margin;

      fieldset {
        border-radius: 0px;
        background-color: transparent;
      }
    }
  }

  /* @ 02  FORM NODE EDIT */
  .layout-node-form .layout-region-node-main, &.eck #block-svds-admin-content {
    /* @    -- Main Region */
    @include media(md, min) {
      width: 75%;
    }
    @include media(lg, max) {
      width: 100%;
    }

    /* @    ---- Details */
    details {
      color: $color__type;
      border-radius: 0;


      summary::-webkit-details-marker {
        display: none
      }

      summary::marker {
        display: none
      }

      summary:before {
        @include arrow(6px, "right", #8b8b8b);
        top: -3px;
        margin-right: $margin-xtrsmall;
      }

      summary {
        @extend .typo__label;
        margin: 0 0 0 0 !important;
        padding-left: 20px !important;
      }

      .label, label {
        @extend .typo__sublabel;
      }

      .label {
        margin-bottom: 0 !important;
      }

      .details-wrapper {
        > .form-wrapper {
          margin-bottom: 1em;
        }
      }
    }

    /* @    ---- Form item */
    .form-wrapper {

      &.paragraphs-subform, &.filter-help {
        .form-item {

          /* @    ------ Sublabel */
          > label, > legend > .fieldset-legend {
            @extend .typo__sublabel;
          }
        }
      }

      .form-item:not([class*="subform"]) {

        /* @    ------ Label */
        > label {
          @extend .typo__label;

          span {
            display: none;
          }
        }

        > input + label {
          @extend .typo__sublabel;
        }

        /* @    ------ Label - Entity reference */
        > legend {
          .fieldset-legend {
            @extend .typo__label;
          }
        }

        /* @    ------ Input */
        input:not([type="submit"]) {
          @extend .typo__input;
          width: 100%;
          padding: $margin-xtrsmall;

          &:focus {
            outline: none;
          }
        }

        /* @    ------ Submit */
        input[type="submit"] {
          @extend .typo__input;
          padding: $margin-xtrsmall;

          &[value="Remove"], &[value="Verwijderen"] {
            color: $error-color;
            background-color: white;
            background-image: none;
            border-color: $error-color;

            &:hover {
              border-color: $error-color;
              opacity: 0.8;
            }
          }

          color: white;
          background-color: $primary-color;
          border-color: $primary-color;
          background-image: none;

          &:hover {
            border-color: $border-button;
            opacity: 0.8;
          }
        }

        /* @    ------ Textarea */
        textarea {
          @extend .typo__input;
          width: 100%;
          padding: $margin-xtrsmall;

          &:focus {
            outline: none;
          }
        }

        /* @    -------- CK Editor */
        .cke {
          margin-bottom: 16px;
        }

        /* @    ------ Select */
        select {
          @extend .typo__input;
          width: 100%;
          min-height: $input-height;
          padding: $margin-xtrsmall;

          &:focus {
            outline: none;
          }
        }

        /* @    ------ Link */
        .field--type-link > fieldset {
          padding: 0;
          border: none;

          legend {
            position: relative;
            text-transform: none;
            letter-spacing: normal;
          }

          .fieldset-wrapper {
            padding: $margin-xtrsmall $margin;
            border: 1px solid $border-input;

            .js-form-item {
              margin: 0 !important;

              &:last-child {
                margin-bottom: $margin-small !important;
              }
            }

            > div {
              > fieldset {
                padding: 0;
                border: none;

                .fieldset-wrapper {
                  margin-top: $margin-xtrsmall;
                  padding: $margin-xtrsmall $margin;
                  border: 1px solid $border-input;
                }
              }
            }
          }

          .description {
            order: 2;
          }
        }

        /* @    ------ Toggle Weight */
        .tabledrag-toggle-weight-wrapper {
          display: none;
        }

        /* @    ------ Table Drag */
        table {
          .draggable {
            .tabledrag-handle {
              height: auto;
              padding: 0;
              margin: 0;
              opacity: 0.5;
              transition: opacity .3s ease-in-out;

              .handle {
                padding: 0;
                margin: 0;
                width: 30px;
                height: 50px;
                background-position: center;
                background-image: url("../img/move-dark.svg");
              }

              &:hover {
                opacity: 0.99;
              }
            }

            abbr {
              display: none;
            }
          }
        }

        /* @    ------ Multi Field */
        .field-multiple-table {
          thead {
            tr {
              padding: 0;
              border-bottom: none;

              th {
                padding: 0;
                background-color: white;

                h4 {
                  @extend .typo__label;
                }
              }
            }
          }

          tbody {
            border: 1px solid $border-input;

            tr.draggable {
              padding: 0;

              &:not(:last-child) {
                border-bottom: 1px solid $border-input;
              }

              &:last-child {
                border-bottom: 1px solid $border-input;
              }

              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    /* @    ------- Numbers/Integer */
    .form-type-number {
      display: flex;
      flex-wrap: wrap;

      label, .description {
        flex: 0 0 100%;
      }

      input {
        flex: 1 1 10%;
      }

      .field-prefix, .field-suffix {
        @extend .typo__input;
        padding: $margin-small;
        background: $bg-gray;
        border: 1px solid $border-input;
      }

      .field-prefix {
        border-right: none;
      }

      .field-suffix {
        border-left: none;
      }
    }

    /* @    ---- Text Filter */
    .filter-wrapper {
      margin-top: -$margin;

      .form-item {
        margin: 0;
        padding: $margin-small 0;

        label {
          font-size: $font-size-rg;
          font-weight: normal;
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      .filter-help {
        display: none;
      }
    }

    /* @    -- Media Field */
    .field--widget-media-library-widget {
      .media-library-widget-empty-text {
        margin-top: 0;
        font-size: $font-size-md;
        font-style: italic;
      }

      .media-library-item__remove {
        color: transparent !important;
        padding: 0 !important;
        background-image: url('../img/crossred.svg') !important;
        background-size: auto;
      }

      .media-library-item__attributes {
        bottom: 12px;
        max-width: calc(100% - 26px);
      }

      > fieldset {
        padding: 0;
        border: none;

        > legend {
          position: relative;
          margin-bottom: 12px;

          > span {

          }
        }
      }

      .fieldset-wrapper {
        padding: 30px 18px 18px;
        border: 1px solid $border-input;
      }
    }

    /* @    -- Dropdown */
    .dropbutton-wrapper {
      .dropbutton-widget {
        .dropbutton {
          input {
            width: 100% !important;
          }
        }
      }
    }

    /* @    -- Tables */
    table {
      /* @    ---- Multiple Fields */
      &.field-multiple-table {
        margin-bottom: 0;

        > thead {
          tr {
            padding: 0;

            th {
              padding: 0;
              background-color: white;

              .label {
                @extend .typo__label;
              }
            }
          }
        }

        > tbody {
          border-bottom: 0px solid transparent !important;

          > tr {
            display: flex;

            &.draggable {
              transition: opacity .3s, box-shadow .3s;

              &.drag {
                box-shadow: $shadow__dialog;
                opacity: .5;
              }
            }

            > td:nth-child(2) {
              flex: 1 1 auto;
              margin-left: -54px;
              border-right: 1px solid $border-input;
              padding-top: 0px;
              padding-bottom: 0px;
            }
          }

          .tabledrag-hide {
            display: none;
          }

          .field-multiple-drag {
            padding: 10px 12px;
            vertical-align: middle;
            //background-color: $bg-blue;

            .handle {
              padding: $margin-xtrsmall;
              background-position: 8px 12px;
            }
          }

          div[class*="-type-top"] {
            padding-left: 70px;
            align-items: center;
            background-color: $bg-gray;

            div[class$="-dropbutton-wrapper"] {
              padding: $margin-small;
              margin-right: 0;

              .dropbutton-widget {
                position: absolute;
                top: 0;
                right: 10px;
                border: 1px solid $primary-color;

                .dropbutton-toggle {
                  border: none;
                  background-color: white;

                  button {
                    border-color: $primary-color;
                  }
                }

                .secondary-action {
                  border-color: $primary-color;
                }
              }
            }
          }

          div[class*="-type-title"] {
            @extend .typo__label;
            margin-left: -16px;
            margin-right: 0;
            padding-right: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            color: $color__type !important;
            text-overflow: unset;
            overflow: visible;
          }

          div[class*="-collapsed-description"] {
            display: none;
          }

          div[class*="-subform "] {
            padding: $margin-small $margin-small $margin-small $margin;
            margin: 0;
            border-left: 10px solid $border-region;

            > .form-wrapper {
              margin-bottom: $margin;
            }

            label {
              @extend .typo__label;
              text-transform: unset;
            }


            details {
              margin: 0;
              border: none;

              summary {
                @extend .typo__label;
                margin-top: 0;
                padding: 0;
                text-transform: unset;

                &::-webkit-details-marker {
                  display: none;
                }
              }

              .details-wrapper {
                padding: $margin-xtrsmall;
                border: 1px solid $border-input;
              }
            }

            /* @    ------ Link field */
            .field--type-link {
              .fieldset-legend {
                display: none;
              }
            }

            .field--type-image {
              table {
                thead {
                  display: none;
                }
              }
            }

            .field--type-link {
              > fieldset {
                border: none;
                padding: 0;
              }
            }
          }

          abbr {
            display: none;
          }
        }
      }
    }

    /* @    -- Fieldset */
    > .field--type-path > fieldset,
    > fieldset {
      padding: 0;
      border: none;

      legend {
        position: relative;
        text-transform: none;
        letter-spacing: normal;
        @extend .typo__label;
      }

      .fieldset-wrapper {
        margin-top: $margin-xtrsmall;
        padding: $margin-xtrsmall $margin;
        border: 1px solid $border-input;

        > div {
          > fieldset {
            padding: 0;
            border: none;

            .fieldset-wrapper {
              margin-top: $margin-xtrsmall;
              padding: $margin-xtrsmall $margin;
              border: 1px solid $border-input;
            }
          }
        }
      }
    }
  }

  /* @    -- Paragraphs */
  .field--widget-entity-reference-paragraphs {
    font-size: $font-size-md;

    > div {
      > .form-wrapper > .form-wrapper {
        padding: $margin $margin-small $margin $margin-small;
        border-top: 1px solid $border-input;
        border-left: 1px solid $border-input;
        border-right: 1px solid $border-input;
        background: $error-color-light;
      }

      > div {
        > strong {
          @extend .typo__label;
        }
      }
    }

    [data-drupal-selector='edit-field-paragraphs'] {
      > strong {
        @extend .typo__label;
      }

      [data-drupal-selector='edit-field-paragraphs-text'] {
        @extend .typo_description;
        font-style: normal;
      }
    }

    .tabledrag-toggle-weight-wrapper {
      margin: 40px 0 (-$margin) 0;
    }

    > div[id*='-add-more-wrapper'] > .js-form-wrapper > .paragraphs-dropbutton-wrapper,
    > div[id*='-add-more-wrapper'] > .js-form-item > div > .paragraphs-dropbutton-wrapper,
    .ajax-new-content > div[id*='-add-more-wrapper'] > .js-form-item > div > .paragraphs-dropbutton-wrapper {
      margin-top: -1px;
      padding: $margin-xtrsmall $margin-small $margin-small $margin-xtrsmall;
      border: 1px solid $border-input;
      background-color: $bg-gray;

      input[type="submit"].button {
        margin-left: $margin-xtrsmall;
      }
    }

    /* @    ---- Paragraph Buttons */
    .paragraphs-dropbutton-wrapper {
      //margin-left: -$margin-xtrsmall;

      input[type="submit"], input[type="submit"].button {
        @extend .typo__input;
        width: auto;
        padding: $margin-xtrsmall;

        color: white;
        background-color: $primary-color;
        background-image: none;
        border-color: $primary-color;

        &:hover {
          border-color: $border-button;
          opacity: 0.8;
        }

        &[value="Remove"], &[value="Verwijderen"] {
          color: $error-color;
          background-color: white;
          background-image: none;
          border-color: $error-color;

          &:hover {
            border-color: $error-color;
            opacity: 0.8;
          }
        }
      }
    }
  }

  /* @    -- Secondary Region */
  .layout-region-node-secondary {
    @include media(md, min) {
      width: 25%;
    }
    @include media(lg, max) {
      width: 100%;
    }
  }

  /* @    -- Footer Region */
  .layout-region-node-footer {
    @include media(md, min) {
      width: 25%;
    }
    @include media(lg, max) {
      width: 100%;
    }

    margin-top: 1em;

    .layout-region-node-footer__content {
      border: none;
      margin-top: 0;
      padding-top: 0;

      /* @    ---- Publish Button  */
      #edit-footer {
        padding: 1em 1.5em;
        border: 1px solid $border-region;
        background-color: $bg-gray;

        &:before {
          content: "Status";
          @extend .typo__label;
        }

        .field--name-status .form-item {

          position: relative;
          width: 100%;
          height: $input-height + 6;
          border: 1px solid #b8b8b8;
          background: #fcfcfa;

          &:after {
            content: 'NOT PUBLISHED';
            position: absolute;
            top: 3px;
            right: 3px;
            height: $input-height;
            width: 50%;
            font-weight: normal;
            color: white;
            background-color: $error-color;
            text-align: center;
            line-height: $input-height;
            z-index: 0;
          }

          &:before {
            content: 'PUBLISHED';
            position: absolute;
            top: 3px;
            left: 3px;
            height: $input-height;
            width: 50%;
            font-weight: normal;
            color: white;
            background-color: $status-color;
            text-align: center;
            line-height: $input-height;
            z-index: 0;
          }

          label {
            display: block;
            //align-items: center;
            //justify-content: center;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 50%;
            height: $input-height;
            padding: 0;
            color: transparent;
            transition: all .4s ease;
            cursor: pointer;
            z-index: 1;
            background: #DDD;

            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: $input-height/3;
              height: $input-height/3;
              border-radius: 50%;
              border: 4px solid rgba(white, .7);
              transform: translate(-50%, -50%);

            }
          }

          input[type=checkbox]:checked + label {
            left: 50%;
            transform: translateX(-3px);
          }

          input {
            display: none;
          }
        }
      }

      /* @    ---- Edit Actions */
      #edit-actions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1em 1.5em;
        margin-top: $margin;
        border: 1px solid $border-region;
        background-color: $bg-gray;

        &:before {
          content: "Node Actions";
          @extend .typo__label;
          margin-bottom: $margin;
          width: 100%;
        }

        .button {
          flex: 1 1 auto;
          height: $input-height;
          margin: 0;
          padding: 0;
          font-size: $font-size-md;
          //color: white;
          line-height: $input-height;

          &:hover {
            opacity: 0.8;
          }

          &:first-child {
            margin: 0 $margin-xtrsmall 0 0;
          }

          &:last-child {
            margin: 0 0 0 $margin-xtrsmall;
          }

          &#edit-preview {
            margin: 0 0;
            //  border-color: $warning-color;
            //  background-color: $warning-color;
          }

          &.button--danger {
            @extend .remove-button;
          }
        }
      }
    }
  }

  /* @    -- Description */
  &.eck #block-svds-admin-content,
  .layout-node-form .layout-region-node-main {
    .description {
      //display: none;
      margin: 0 0 0 0 !important;
      padding: $margin-xtrsmall $margin-xtrsmall;
      font-size: $font-size-rg !important;
      border: 1px solid $border-description;
      border-top: none;
      box-sizing: border-box;
      background-color: $secondary-color-light;

      &.fieldset-description {
        border-top: 1px solid $border-description;
        border-bottom: none;
      }
    }

    .form-type-checkbox {
      .description {
        border-top: 1px solid $border-description;
      }
    }

    .container-inline + .description {
      border-top: 1px solid $border-description;
    }

    .js-media-library-widget {
      .description {
        border-top: 1px solid $border-description;
      }
    }
  }

  /* @    -- Group */
  //for use of field_group module, choose html element, make sure to show label, use standard setting of h3
  .layout-region {
    .field-group-html-element {
      margin-top: $margin;

      > div {
        margin-left: $margin-small;
      }

      h3 {
        display: block;
        color: $color__type;
        text-transform: uppercase;
        padding: $margin-small;
        border-bottom: 5px solid $primary-color;
        background-color: $primary-color-light;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  /* @ 02  FORM USER EDIT */
  .user-form {
    .form-item:not([class*="subform"]) {

      /* @    ------ Label */
      > label {
        @extend .typo__label;

        span {
          display: none;
        }
      }

      /* @    ------ Description */
      .description {
        margin: 0 0 0 0 !important;
        padding: $margin-xtrsmall $margin-xtrsmall;
        font-size: $font-size-rg !important;
        border: 1px solid $border-description;
        border-top: none;
        box-sizing: border-box;
        background-color: $secondary-color-light;

        &.fieldset-description {
          @extend .typo_description;
          padding: $margin-xtrsmall 0 $margin-small 0;
          margin-bottom: $margin-small;
          border: none;
          border-bottom: 1px solid $border-region;
          background-color: transparent;
        }
      }

      /* @    ------ Input */
      input {
        @extend .typo__input;
        width: 100%;
        padding: $margin-xtrsmall;

        &:focus {
          outline: none;
        }
      }

      /* @    ------ Textarea */
      textarea {
        @extend .typo__input;
        width: 100%;
        padding: $margin-xtrsmall;

        &:focus {
          outline: none;
        }
      }

      /* @    ------ Select */
      select {
        @extend .typo__input;
        width: 100%;
        min-height: $input-height;
        padding: $margin-xtrsmall;

        &:focus {
          outline: none;
        }
      }
    }

    /* @    ---- Text Filter */
    .filter-wrapper {
      margin-top: -$margin;

      .form-item {
        margin: 0;
        padding: $margin-small 0;

        label {
          font-size: $font-size-rg;
          font-weight: normal;
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      .filter-help {
        display: none;
      }
    }

    /* @    ---- Edit Actions */
    #edit-actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1em 1.5em;
      margin-top: $margin;
      border: 1px solid $border-region;
      background-color: $bg-gray;

      &:before {
        content: "User Actions";
        @extend .typo__label;
        margin-bottom: $margin;
        width: 100%;
      }

      .button {
        flex: 1 1 auto;
        height: $input-height;
        margin: 0;
        padding: 0;
        font-size: $font-size-md;
        //color: white;
        line-height: $input-height;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          margin: 0 $margin-small 0 0;
        }

        &:last-child {
          margin: 0 0 0 $margin-small;
        }

        &#edit-preview {
          margin: 0 $margin-small;
          //  border-color: $warning-color;
          //  background-color: $warning-color;
        }

        &.button--danger {
          @extend .remove-button;
        }
      }
    }
  }

  /* @ 03 BREADCRUMBS */
  .block-system-breadcrumb-block {
    .breadcrumb {
      //padding: $margin 0;

      a {
        color: $color__type__light;
      }
    }
  }

  /* @ 04 TABS */
  .block-local-tasks-block {
    a {
      color: $color__type__light;
    }
  }

  /* @ 05 TOOLBAR */
  &.adminimal-admin-toolbar {
    .toolbar {
      .toolbar-toggle-orientation {
        background-color: $bg-toolbar-active;
      }

      .toolbar-icon:before {
        transition: none !important;
      }

      nav {
        &.toolbar-bar {
          .toolbar-tray {
            border-bottom: none;
            background: $bg-toolbar-active;

            .toolbar-menu {
              background: $bg-toolbar-active;

              li {
                background: $bg-toolbar-active;

                &.menu-item--expanded:hover:after {
                  transform: translate(3px, -8px);
                }
              }
            }

            &.toolbar-tray-horizontal {
              ul {
                li {
                  &.menu-item--expanded {
                    .menu-item {
                      &:hover {
                        ul {
                          margin: -39px 0 0 200px;
                        }
                      }

                      &.hover-intent {
                        ul {
                          margin: -39px 0 0 200px;
                        }
                      }
                    }
                  }
                }
              }

            }
          }

          .toolbar-tab {
            .toolbar-item {
              &.is-active {
                background-color: $bg-toolbar-active;
              }
            }
          }

          /* @    -- User tab */
          .user-toolbar-tab {
            float: left !important;
          }
        }
      }
    }
  }
}

/* @ 06 VIEWS CONTENT OVERVIEW */
.view-id-content {
  position: relative;

  form {
    .draggable {
      .views-field-node-bulk-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 41px;
      }
    }

    /* @    -- Bulk operations */
    #edit-header {
      position: absolute;
      top: 41px;
      width: 100%;
      margin-bottom: $margin;
      padding: 1em 1.5em;
      opacity: 0;
      box-sizing: border-box;
      border: 1px solid $border-region;
      background-color: $bg-gray;

      &.active {
        opacity: 1;
      }
    }
  }

  /* @    -- Filter & Action Tabs */
  .svds__tab {
    display: inline-block;
    position: relative;
    padding: $margin-xtrsmall $margin-small;
    margin-bottom: -1px;
    color: $color__type__light;
    border-left: 1px solid $border-button;
    border-top: 1px solid $border-button;
    border-bottom: 1px solid $border-button;
    background-color: $bg-button;
    z-index: 2;
    cursor: default;

    &.filter {

    }

    &.actions {
      border-right: 1px solid $border-button;
    }

    &.active {
      color: $color__type;
      border-bottom: 1px solid $bg-button;
      cursor: default;
    }

    &.inactive {
      &:hover {
        color: $color__type;
      }
    }
  }

  /* @    -- Views filters */
  .view-filters {
    position: relative;
    margin-bottom: $margin;
    padding: 1em 1.5em;
    border: 1px solid $border-region;
    background-color: $bg-gray;
    z-index: 1;

    #edit-actions {
      padding-top: 1em;
    }

    &.inactive {
      opacity: 0;
      z-index: -1;
    }
  }
}

/* @ 07 REAL TIME SEO  */
#edit-field-meta-tags-0 {
  display: none;
}

.seo-container {

  label {
    @extend .typo__label;
  }

  .seo-content {
    width: 636px;
    padding: 18px;
    font-family: arial;
    border: solid 1px rgba(0, 0, 0, 0.13);
    background: white;

    .title {
      width: 600px;
      font-size: 18px;
      color: #1a0dab;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .url {
      padding: 1px 0 0 0;
      font-size: 14px;
      color: #006621;

      span {
        display: inline-block;
      }

      .arrow {
        position: relative;
        top: -2px;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #006621 transparent;
      }

      .translate {
        margin-left: 5px;
        color: #1a0dab;
      }
    }

    .desc {
      font-size: 13px;
      line-height: 1.4em;
    }
  }

  @include media(lg) {
    display: none;
  }
}

/* @ 08 DELETE PAGE */
.path-delete {
  details {
    &[data-drupal-selector="edit-entity-deletes"] {
      ul {
        &[data-drupal-selector="edit-view"] {
          display: inline-block;
          padding: 0px;
          color: white;
          list-style: none;
          background-color: $warning-color;

          li {
            height: 25px;
            padding: 5px 10px;
            margin: 0;
            line-height: 12px;
            list-style: none;

            &:before {
              content: "\26A0";
              display: inline-block;
              position: relative;
              top: 7px;
              margin-right: 10px;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

/* @ 09 IMAGE CROP */
.image-widget {
  .image-data__crop-wrapper {
    //color: white;
    border-radius: 0px;
    background-color: $bg-gray;

    summary {
      padding-left: 13px !important;
    }
  }
}

.media-library-add-form {
  .media-library-add-form__remove-button {
    @extend .remove-button;
    padding: 4px 1.5em;
  }
}

/* @ 99 MEDIA QUERIES */
@media screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
  .layout-region-node-footer {
    float: right;
    width: 35%;
    padding-right: 0;
  }
}

/* @ 100 ROLE SPECIFIC CHANGES */
.svds_admin {
  &.role-svds_admin, &.role-svds_editor {
    /* @    -- Toolbar */
    &.adminimal-admin-toolbar {
      nav {
        &.toolbar-bar {
          /* @    ---- Content tab */
          .toolbar-tab {
            .toolbar-icon-admin-toolbar-tools-help {
              display: none;
            }
          }
        }
      }
    }

    /* @    -- Show Weight */
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }

    /* @    -- Published Info  */
    .layout-region-node-secondary {
      #edit-meta {
        //display: none;
      }
    }
  }
}
